**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/.idea
**/node_modules
**/npm-debug.log
**/obj
**/secrets.json
**/bin
**/dist
**/.DS_Store
